@import "bootstrap/bootstrap.less";


body {
    padding-top: 50px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #ccc;
    padding: 15px 0;
    //background-color: #eee;

    p {
        margin-bottom: 0;
    }
    ul {
        margin: 0;
        li {
            display: inline;
            margin-right: 10px;
        }
    }
}