{% extends '::base.html.twig' %}

{% block title %}Maroon Admin{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top navbar-maroon">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{{ path('admin_home') }}">Maroon Admin</a>

            {{ knp_menu_render('MaroonRPGBundle:Builder:adminMenu', {}, 'bootstrap_renderer') }}

            <ul class="nav pull-right">
                <li><a href="{{ path('maroon_rpg_default_index') }}">Site Home</a></li>
            </ul>

        </div>
    </div>
</div>
{% endblock %}
