{% extends 'MaroonRPGBundle::layout_front.html.twig' %}

{% block body %}
{#
<ul class="breadcrumb">
    <li class="active">Maroon Home</li>
</ul>
#}

<div class="row">
    <div class="span8">

        <div class="article">
            <h3>Yaml whatever</h3>
            <p>{{ yml }}</p>
            <div class="well well-small">Posted by Derp on Mar 30, 2013 @ 3:06 AM</div>
        </div>

        <div class="article">
            <h3>First Update</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum, mauris auctor mattis ullamcorper,
                nisi justo iaculis ante, sit amet pulvinar augue elit ut nibh. Quisque eget aliquam magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec dictum orci id neque molestie ultrices. Sed a
                mi et odio condimentum consequat at a purus. Vestibulum diam erat, ullamcorper sit amet sollicitudin
                non, ultrices vel nisi. In interdum arcu quis neque egestas a tempus nisi convallis. Donec vel
                condimentum enim. Curabitur interdum enim egestas mi molestie id aliquam ante dapibus. Donec quis
                justo quis magna mattis interdum. Praesent placerat elit sed tellus adipiscing nec luctus justo
                vestibulum. Suspendisse id tellus ut purus egestas pretium nec eget augue. Etiam quis magna enim,
                vel pharetra tortor. Donec vestibulum sem et elit fringilla congue.</p>
            <p>In nec arcu sed turpis tincidunt porta nec a nisi. Sed rhoncus ipsum mi. Morbi tempor ullamcorper
                erat, id commodo tellus lobortis id. In turpis dolor, accumsan vel gravida a, varius ut mauris. Morbi
                vitae urna mi, sed imperdiet ante. Pellentesque massa neque, iaculis a blandit tristique, scelerisque
                vitae est. Nam eu metus eu arcu facilisis tristique a quis odio. Nunc feugiat mattis augue, in viverra
                quam venenatis at. Curabitur pulvinar eros turpis, eget rutrum est. Aenean pulvinar semper semper. Morbi
                hendrerit vulputate lacus non sollicitudin.</p>
            <div class="well well-small">Posted by Indigo on Sep 23, 2012 @ 12:00 PM</div>
        </div>

        <div class="article">
            <h3>Second Update</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum, mauris auctor mattis ullamcorper,
                nisi justo iaculis ante, sit amet pulvinar augue elit ut nibh. Quisque eget aliquam magna. Pellentesque
                habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec dictum orci id
                neque molestie ultrices. Sed a mi et odio condimentum consequat at a purus. Vestibulum diam erat,
                ullamcorper sit amet sollicitudin non, ultrices vel nisi. In interdum arcu quis neque egestas a tempus
                nisi convallis. Donec vel condimentum enim. Curabitur interdum enim egestas mi molestie id aliquam ante
                dapibus. Donec quis justo quis magna mattis interdum. Praesent placerat elit sed tellus adipiscing nec
                luctus justo vestibulum. Suspendisse id tellus ut purus egestas pretium nec eget augue. Etiam quis magna
                enim, vel pharetra tortor. Donec vestibulum sem et elit fringilla congue.</p>
            <div class="well well-small">Posted by Indigo on Sep 22, 2012 @ 8:42 PM</div>
        </div>

    </div>
    <div class="span4 quick-stats">

        <h3>Quick Stats</h3>
        <ul>
            <li>Characters: {{ app.user.characterCount }} / 16</li>
            <li>Credits: {{ app.user.money|number_format }}</li>
            <li>Active Battles: 0</li>
        </ul>
    </div>
</div>
{% endblock %}